.userinfo_grid_row{
    padding-top: 1.25rem;
    padding-left:3.5rem;
    padding-bottom: 0rem;
}
.userinfo_displayname{
    padding-left: 1.1em !important; 
    padding-bottom: 1.5rem !important;
    color:#4c962f !important ;
}
.content{
    color:#82fc52 !important ;
}